@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4,
h5, h6, pre, code, form, fieldset, legend, textarea, p,
blockquote, th, td, input, select, button {
    margin: 0;
    padding: 0
}
fieldset, img {
    border: 0 none
}
dl, ul, ol, menu, li {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}
input, select, textarea, button {
    vertical-align: middle
}
input::-ms-clear {
    display: none
}
button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}
body {
    background: #fff;
    direction: ltr;
    -webkit-text-size-adjust: none
}
body, th, td, input, select, textarea, button {
    font-size: 13px;
    line-height: 1.5;
    font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    color: #222;
    letter-spacing: -1px
}
.os_mac body, .os_mac th, .os_mac td, .os_mac input, .os_mac select, .os_mac textarea, .os_mac button {
    letter-spacing: 0
}

#gameColl.wrapper {
    width: 1000px;
    margin: 50px auto;
    background-color: #118eff;
}

#gameColl .team {
    height: 500px;
    background-color: gold;
}