/***********************RESET***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {  margin: 0;  padding: 0;  border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {  display: block;  }
body {  line-height: 1;  }
ol, ul {  list-style: none;  }
blockquote, q {  quotes: none;  }
blockquote:before, blockquote:after,
q:before, q:after {  content: '';  content: none;  }
table {  border-collapse: collapse;  border-spacing: 0;  }
input, button, select{-webkit-appearance:none; border:none; background-color:#fff}
a:link, a:visited{text-decoration:none;color:#000}
a:hover, a:focus{text-decoration:underline}
/***********************RESET***********************/

.screen_design_red{position:relative; width: 1600px; height: 100%;background-color: black; margin: 0;}
.header{width: inherit; height: 1000px; background-image: url("http://more-sky.com/data/out/9/IMG_304756.png");background-size: 1600px;}
.contents{width: inherit; height: 4000px;background-color: #ffeabb;}
.footer{width: inherit; height: 1000px;background-color: #ffb95b;}
.header_nav{position:absolute;width: inherit; height: 100px; margin-top: 50px;}
.header_nav h1{float: left; padding-left: 100px; margin-top: 35px;}
.header_nav ul{float: right; margin-top:35px; padding-right: 100px;}
.header_nav li{float: left; margin: 0 0 50px 50px;}
.header_nav a {color: white;font-size: 30px; font-weight: 200;}
.header_nav ul a{text-decoration: underline;}
.header_nav a:hover{color: rebeccapurple; text-decoration: none;}
.title{padding-top: 500px;}
.title p{color: white;text-align: center;}
.title p:first-child{font-size: 80px; font-weight: 200;}
.title p:last-child{font-size: 40px;  font-weight:100;}
.title a{text-decoration: none;}
hr{border-top: 2px solid white; width: 1000px; margin: 35px 20% 35px;}

.title{position:relative;}
.title:after{position:absolute; bottom:-50px; left:0; width:300px; height:1px;background:#f00;content:"";}